*{
    padding: 0;
    margin: 0;
}

header{
    background: #97CCC6;
    width: 100%;
    height: auto;
    padding-top: 30px;
    justify-content: center;
}

header h1{
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    color: #474747;
    padding-bottom: 40px;
}

nav{
    display: flex;
    width: 100%;
    height: auto;
    background: #C0C4C3;
    border-bottom: 1px solid #474747;
    justify-content: center;
    z-index: 1;
}

nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #C0C4C3;
}

nav ul a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-family: Verdana;
    padding: 15px;
    display: block;
    border-radius: 5px;
}

nav ul a:hover{
    background: #e5fffd;
    color: #666666;
    border-radius: 5px;
} 

nav ul li ul{
    display: none;
}
nav ul li:hover > ul {
    display: block;
}

#audio1{
    width: 600px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    background: #97CCC6;
    border: 1px solid #474747;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 10px 10px 20px 3px #505050;

}

audio{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 450px;
    height: 60px;
    margin-top: 25px;
    display: inline-flex;

}

#title{
    position:inherit;
    width: 100%;
    padding-top: 30px;
    height: 100px;
    color: #474747;
    font-size: 20px;
    font-family: Verdana;
    text-align: center;
}

#title h2{
    font-size: 25px;
    font-family: Verdana;
    text-align: center;
}

.footer1{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    background: #C0C4C3;
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
}

#info{
    background-color: #E8F6F3;
    margin: 1px auto;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 20px 3px #505050;
    z-index: -1;
    display: grid;
}

#info img{
    width: 250px;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#info p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    margin: 0;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item{
    background-color: #D5F5E3;
    margin: 15px;
    width: 800px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px #505050;
}

.flex-item2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EBDEF0;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px #505050;
}

.flex-item3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #D5F5E3;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    width: 1500px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px #505050;
}


.flex-item3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: #474747;
    text-align: center;
    padding-top: 25px;
}

.flex-item2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: #474747;
    text-align: center;
    padding-top: 25px;
}

.flex-item h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: #474747;
    text-align: center;
    padding-top: 15px;
}

.flex-item h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    color: #474747;
    text-align: center;
    padding-top: 13px;
}

.flex-item p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #474747;
    text-align: justify;
    padding: 15px;
}

.flex-item3 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #474747;
    text-align: justify;
    padding: 15px;
}

.flex-item ul {
    color: #474747;
    font-size: 22px;
    font-family: Verdana;
    padding-left: 150px;
    justify-content:center;
}

.flex-item img{
    float: left;
    padding: 15px;
}

#video1{
    background-color: #97CCC6;;
    display: flex;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    justify-content: space-around;
    box-shadow: 10px 10px 20px 5px #505050;
    border-radius: 10px;
}

.flex-video{
    margin: 25px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.text-bold{
    color: #004d50;
}

#asideunad{
    display: flex;
    padding: 25px;
    margin-top: 15px;
    background-color: #FDF2E9;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px #505050;
    flex-wrap: wrap;
}

iframe{
    display: flex;
}

#infov{
    justify-content: center;
    margin: auto;
    padding: auto;
    padding-bottom: 10px;
}